<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coin Data</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Ensure this path is correct -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/coinsLoader.js"></script>
</head>
<body>
    <h1>Coin Data</h1>
    <table class="style-table">
        <thead>
            <tr>
                <th>Coin</th>
                <th>Current Price</th>
                <th>Price Change (24h)</th>
                <th>Market Capitalization</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="coin : ${coinlist}" th:attr="data-coin-id=${coin.id}">
                <td>
                <div class="coin-details">
                    <img class="coin-img" th:src="${coin.image}" alt="Coin Image">
                    <span th:text="${coin.name}" class="coin-name"></span>
                    <span th:text="${coin.symbol}" class="coin-symbol"></span>                    
                </div>
                <div class="last-updated" th:text="${#temporals.format(coin.lastupdate, 'yyyy-MM-dd HH:mm:ss')} + ' HKT'"></div>
                </td>
                <td th:text="${coin.currentPrice}"></td>
                <td>
                <span th:class="${'price-change ' + (coin.priceChangePercentage24h > 0 ? 'up' : (coin.priceChangePercentage24h < 0 ? 'down' : 'neutral'))}">
                <span th:text="${coin.priceChangePercentage24h > 0 ? '▲' : (coin.priceChangePercentage24h < 0 ? '▼' : '-')}"></span>
                <span th:text="${#numbers.formatDecimal(coin.priceChangePercentage24h < 0 ? -coin.priceChangePercentage24h : coin.priceChangePercentage24h, 1, 'COMMA', 2, 'POINT')} + '%'"></span>
            </span>    
            </td>
            <td th:text="'$' + ${#numbers.formatDecimal(coin.marketCap, 1, 'COMMA', 2, 'POINT')}"></td>
        </tr>
            
        </tbody>
    </table>
</body>
</html>